name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    env:
      flex: "./flex.sh"

    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Build
      run: $flex build
